@model MovieWithCatogryVM

<!-- ===== MAIN SLIDER ===== -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <ul>
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <h3>Latest Movie Trailers</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="over-para">Consequuntur hic odio voluptatem tenetur consequatur.</span>
                                </p>
                                <a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon"><span class="fa fa-play"></span></span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/358205676" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li>
                        <div class="slider-info banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Online Movies</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="over-para">Consequuntur hic odio voluptatem tenetur consequatur.</span>
                                </p>
                                <a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon"><span class="fa fa-play"></span></span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/395376850" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Movie Trailers</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="over-para">Consequuntur hic odio voluptatem tenetur consequatur.</span>
                                </p>
                                <a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon"><span class="fa fa-play"></span></span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/389969665" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Online Movies</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="over-para">Consequuntur hic odio voluptatem tenetur consequatur.</span>
                                </p>
                                <a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon"><span class="fa fa-play"></span></span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/323491174" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ===== فلترة الفئات ===== -->
<section class="py-4 bg-light">
    <div class="container">
        <div class="d-flex flex-wrap gap-2 justify-content-center">
            <a asp-action="Index"
               class="btn btn-sm @(Model.SelectedCategory == null ? "btn-warning" : "btn-outline-secondary") rounded-pill px-3">
                الكل
                <span class="badge bg-dark ms-1">@Model.Movies.Count</span>
            </a>
            @foreach (var cat in Model.CategoryWithTotal)
            {
                <a asp-action="Index" asp-route-CategoryName="@cat.Key"
                   class="btn btn-sm @(Model.SelectedCategory == cat.Key ? "btn-warning" : "btn-outline-secondary") rounded-pill px-3">
                    @cat.Key
                    <span class="badge bg-dark ms-1">@cat.Value</span>
                </a>
            }
        </div>
    </div>
</section>

<!-- ===== POPULAR MOVIES (من الـ DB) ===== -->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Popular Movies</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" asp-action="Index">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                @foreach (var movie in Model.Movies.Take(4))
                {
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id">
                                <figure>
                                    <img class="img-fluid" src="~/Images/Movie/@movie.MainImg" alt="@movie.Name">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">@movie.Name</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"></span>
                                            @movie.ShowTime.ToString("hh:mm tt")
                                        </span>
                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- ===== NEW RELEASES ===== -->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">New Releases</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" asp-action="Index">Show all</a></h4>
                    </div>
                </div>
            </div>

            <div class="owl-three owl-carousel owl-theme">
                @foreach (var movie in Model.Movies)
                {
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id">
                                <figure>
                                    <img class="img-fluid" src="~/Images/Movie/@movie.MainImg" alt="@movie.Name">
                                </figure>
                                <div class="box-content">
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"></span>
                                            @movie.ShowTime.ToString("hh:mm tt")
                                        </span>
                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3>
                            <a class="title-gd" asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id">
                                @movie.Name
                            </a>
                        </h3>
                        <p>@movie.Description</p>
                        <div class="button-center text-center mt-4">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id"
                               class="btn watch-button">
                                Show now
                            </a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>

<!-- ===== MID SLIDER ===== -->
<section class="w3l-mid-slider position-relative">
    <div class="companies20-content">
        <div class="owl-mid owl-carousel owl-theme">
            <div class="item">
                <ul>
                    <li>
                        <div class="slider-info mid-view bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <!-- ✅ تصحيح الـ ternary -->
                                    <span class="sub-text">
                                        @(Model.Movies.Any(e => e.Category.Name == "Adventure") ? "Adventure" : "")
                                    </span>
                                    <h3>Jumanji: The Next Level</h3>
                                    <p>2019 ‧ Comedy/Action ‧ 2h 3m</p>
                                    <a class="watch" asp-action="Index">
                                        <span class="fa fa-play" aria-hidden="true"></span>
                                        Watch Trailer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li>
                        <div class="slider-info mid-view mid-top1 bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Adventure</span>
                                    <h3>Dolittle</h3>
                                    <p>2020 ‧ Family/Adventure ‧ 1h 41m</p>
                                    <a class="watch" asp-action="Index">
                                        <span class="fa fa-play" aria-hidden="true"></span>
                                        Watch Trailer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li>
                        <div class="slider-info mid-view mid-top2 bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Action</span>
                                    <h3>Bad Boys for Life</h3>
                                    <p>2020 ‧ Comedy/Action ‧ 2h 4m</p>
                                    <a class="watch" asp-action="Index">
                                        <span class="fa fa-play" aria-hidden="true"></span>
                                        Watch Trailer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>